body {
  font-family: $primary-font;
  font-size: 14px;
  color: $dark-text;
  background-color: #f9f9fb;
  font-weight: 400;
  /*-webkit-font-smoothing: antialiased;*/
}

a,
div,
li,
ul {
  background-repeat: no-repeat;
  background-size: 100%;
}

p {
  margin: 20px 0;
}

.clear,
.clearfix {
  clear: both;
}

a,
a:focus,
button,
button:focus .top-nav-item {
  text-decoration: none;
  outline: none;
}

.all-transition,
.material-icons,
.top-nav-item,
.top-nav-item,
a,
button {
  transition: all $fade-time;
  font-family: $primary-font;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: $brixio-primary;
}

.centered-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.relative {
  position: relative;
}

.hidden {
  display: none;
}

.bold {
  font-weight: bold;
}

.link {
  color: $brixio-primary;
  cursor: pointer;
}

.right-button {
  margin-left: 20px;
}

.white {
  color: #fff;
}

.flush-sides {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.flush-left {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.flush-right {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

.p-all-0 {
  padding: 0 !important;
}

.p-x-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.p-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.p-top-0 {
  padding-top: 0 !important;
}

.p-right-0 {
  padding-right: 0 !important;
}

.p-bottom-0 {
  padding-bottom: 0 !important;
}

.p-left-0 {
  padding-left: 0 !important;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.badge {
  background-color: $brixio-warning;
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

.font-large {
  font-size: $large-text;
}

.font-normal {
  font-size: $normal-text;
}

.font-small {
  font-size: $small-text;
}

.multi-line-font-small {
  font-size: $small-text;
  line-height: 15px;
  white-space: pre-wrap;
}

.multi-line-font-large {
  font-size: $large-text;
  line-height: 21px;
  white-space: pre-wrap;
}

.multi-line-font-normal {
  font-size: $normal-text;
  line-height: 19px;
  white-space: pre-wrap;
}

.font-dark {
  color: $dark-text;
}

.font-medium {
  color: $medium-text;
}

.font-light {
  color: $light-text;
}
// TODO : replace these .section styles with more targeted styling or card styles

.section-title {
  color: rgba(0,0,0,0.54);
  font-size: 12pt;
  float: left;
}

.section-edit {
  float: right;
}

.section-edit > a > .material-icons {
  font-size: 17px;
}
// TODO : revisit these .warn and .approve

.warn {
  color: $brixio-warning;
}

.approve {
  color: $brixio-primary;
}
// TODO : These arrow classes might need to be targeted

.arrow-up {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 5px solid rgba(0,0,0,0.56);
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 1px;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 5px solid rgba(0,0,0,0.56);
  display: inline-block;
  margin-left: 5px;
}

.light {
  color: $medium-text;
}

.lightest {
  color: $light-text;
}

.dark {
  color: $dark-text;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.h2 {
  font-size: 16px;
  color: $dark-text;
}

.top-spacing-normal {
  margin-top: 10px;
}

.top-spacing-small {
  margin-top: 5px;
}

.bottom-spacing-normal {
  margin-bottom: 10px;
}

.right-spacing-normal {
  margin-right: 10px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable-row:hover {
  cursor: pointer;
  background-color: rgba(0,0,0,0.03);
}

.clickable {
  cursor: pointer;
}

.m-y-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.m-x-0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.m-left-sm {
  margin-left: 5px !important;
}

.m-right-sm {
  margin-right: 5px !important;
}

.m-top-sm {
  margin-top: 5px !important;
}

.m-bottom-sm {
  margin-bottom: 5px !important;
}

.m-x-sm {
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.m-y-sm {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.m-left-md {
  margin-left: 15px !important;
}

.m-right-md {
  margin-right: 15px !important;
}

.m-top-md {
  margin-top: 15px !important;
}

.m-bottom-md {
  margin-bottom: 15px !important;
}

.m-x-md {
  margin-left: 15px !important;
  margin-right: 15px !important;
}

.m-y-md {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}

.m-auto {
  margin: auto !important;
}

.m-top-xl {
  margin-top: 40px !important;
}

.m-xy-0 {
  margin: 0 !important;
}

.w-100 {
  width: 100% !important;
}

.p-xy-med {
  padding: 10px !important;
}
