.tabs-container {
  border-radius: 3px;
  overflow: hidden;
  width: 600px;
}

.mui-tab-bottom {
  margin: 20px 0;
}

.mui-raised-button span {
  font-size: 13px !important;
  margin-top: 3px !important;
  display: inline-block;
  text-transform: none !important;
}

.mui-raised-button i {
  font-size: 20px !important;
}

.mui-gray button {
  background-color: #f6f6f6 !important;

  span {
    color: rgba(0,0,0,0.54) !important;
  }
}
