@import 'colors';
.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-color: white;
  .header-logo {
    height: 50px;
    display: inline-block;
    cursor: pointer;
    img {
      height: 100%;
    }
  }
  .header-navigation {
    ul {
      li {
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        img {
          border-radius: 50%;
        }
      }
    }
  }
}
