@import 'colors';

.header {
  padding: 20px;
  display: flex;
  height: 15vh;
  justify-content: space-between;
  background-color: white;
  .header-logo {
    height: 50px;
    display: inline-block;
    img {
      height: 100%;
    }
  }
  .header-navigation {
    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      top: 50%;
      transform: translateY(50%);
      li {
        padding: 10px;
      }
    }
  }
}
