@import 'colors';

.login-button {
  padding: 15px;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $ezred;
  border-radius: 5px;
  font-size: 36px;
  text-align: center;
  cursor: pointer;
  a {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    text-decoration: none;
    color: white;
  }
}
