.activity-component {
  .activity-card {
    @extend .card;
    @extend .p-x-0;
  }

  .activity-header {
    padding: 10px;

    &.clickable:hover {
      background-color: $light-element;
    }
  }

  .activity-body {
    padding: 10px;
    @extend .multi-line-font-normal;
  }
}
