.agenda-date-sort-row {
  .sort-row-item {
    display: inline-block;
    border: 1px solid $medium-element;
    border-collapse: collapse;
  }
}

.agenda-date-sort-row:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.agenda-date-sort-row:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
