// Overriding react-modal-dialog classes with --jss

a[class^="closeButton--jss"] {
  display: none;
}

[class^="dialog--jss"] {
  border-radius: 3px !important;
  padding: 0 !important;
  top: 20% !important;
  font-size: $large-text;
}

.brixio-modal-component {
  width: 600px;

  .brixio-modal-header {
    height: 35px;
    background-color: $brixio-primary;
    color: #fff;
    padding: 10px 0 0 15px;
    border-radius: 3px 3px 0 0;

    .brixio-modal-header-icon {
      font-size: 17px;
      float: left;
      margin-right: 6px;
    }
  }

  .brixio-modal-close {
    position: absolute;
    color: #fff;
    right: 5px;
    top: 6px;
    cursor: pointer;
  }

  .brixio-modal-subHeader {
    padding: 15px;
    border-bottom: 1px solid $divider;
  }

  .brixio-modal-body {
    padding: 15px;
    min-height: 150px;
    color: $medium-text;
  }

  .brixio-modal-sub-title-description {
    font-size: $normal-text;
    color: $medium-text;
    margin-top: 5px;
  }

  .brixio-modal-footer {
    padding: 15px;
    border-top: 1px solid $divider;

    .buttons-section {
      button {
        margin-left: 15px;
      }

      &:after {
        content: "";
        display: table;
        clear: both;
      }
    }
  }

  &.warning {
    .brixio-modal-header {
      background-color: $brixio-warning;
    }
  }

  &.small {
    width: 400px;

    .brixio-modal-body {
      min-height: 85px;
    }
  }
}
