.contact-component {
    .name {
        color: $dark-text;
    }

    .contact-method {
        @extend .multi-line-font-normal;
        color: $medium-text;
    }

    .contact-avatar {
        float: left;
        width: 52px;
    }

    .contact-details {
        float: left;
        width: calc(100% - 52px);

        .company {
            color: $medium-text;
        }
    }

    .contact-details-left {
        width: 50%;
        float: left;
    }

    .contact-details-right {
        width: 50%;
        float: left;
    }
}
