.edit-deal-requirements-component {
  .input-wrapper {
    width: calc(50% - 7px) !important;
    margin-bottom: 15px;

    &:nth-child(even) {
      float: right;
    }

    &:nth-child(odd) {
      float: left;
    }

    &.textarea {
      width: 100% !important;
      float: left;
      height: auto;
    }
  }

  textarea {
    min-height: 145px;
  }

  &::after {
    content: "";
    display: table;
    clear: both;
  }
}
