.row.note .content {
  margin-left: 39px;
  border-bottom: solid 1px rgba(0,0,0,0.1);
  padding-bottom: 5px;
  text-align: justify;
}

.note {
  margin: 0;
  padding: 10px;

  .details {
    margin-left: 10px;
    width: calc(100% - 45px);

    .note-time {
      font-size: 10px;
      margin-top: 5px;
      margin-left: 2px;
      color: rgba(0,0,0,0.36);
    }
  }

  .time-label {
    display: inline-block;
    margin-top: 5px;
  }

  textarea {
    margin-top: 5px;
    border: none;
    box-shadow: inset 0 0 2px rgba(0,0,0,0.2);
    background-color: #f8f8f8;
    font-size: 14px;
    padding: 10px;
    resize: none;
    color: $dark-text;
  }

  .action-items {
    margin-top: 5px;
  }
}

.notes {
  .add-note {
    margin-top: -2px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-transition: background 0.25s linear;
    -moz-transition: background 0.25s linear;
    -ms-transition: background 0.25s linear;
    -o-transition: background 0.25s linear;
    transition: background 0.25s linear;

    i {
      font-size: 18px;
      color: rgba(0,0,0,0.36);
    }
  }

  .add-note:hover {
    color: rgba(0,0,0,0.54);
    background-color: rgba(0,0,0,0.05);
  }
}

.new-note-wrapper {
  overflow: hidden;

  form {
    -webkit-transition: margin-top 0.15s ease-out;
    -moz-transition: margin-top 0.15s ease-out;
    -ms-transition: margin-top 0.15s ease-out;
    -o-transition: margin-top 0.15s ease-out;
    transition: margin-top 0.15s ease-out;
  }
}

.new-note-wrapper.inactive {
  form {
    margin-top: -122px;
  }
}

.new-note-wrapper.active {
  margin-top: 0;
}

.rotated {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  color: $brixio-warning !important;
}

.not-rotated {
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.tiny {
  font-size: 9px;
}
