.tab-controller-component {
  .tab-controller-children {
    margin-top: 25px;
  }

  .tab-controller-tabs {
    position: absolute;
    margin-top: -25px;
    z-index: 1;

    &:after {
      content: "";
      display: table;
      clear: both;
    }

    .history-tab {
      float: left;
      padding: 6px 10px 7px;
      cursor: pointer;
      position: relative;
      @extend .font-normal;

      i {
        font-size: 16px;
        float: left;
        margin-right: 2px;
        margin-bottom: -6px;
        margin-left: -5px;
      }

      &.selected {
        background-color: white;
        box-shadow: 0 1px 4px rgba(43,59,93,.2);
        border-radius: 2px 2px 0 0;
        border-top: 1px solid $brixio-primary;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        padding-top: 5px;
        // padding-left: 9px;
        // padding-right: 9px;
        .tab-shadow-cover {
          display: block;
        }
      }

      .tab-shadow-cover {
        width: 100%;
        height: 4px;
        background: #fff;
        position: absolute;
        left: 0;
        bottom: -4px;
        display: none;
      }
    }
  }
}
