.task-form-inputs-component {
  .add-task-date-time-picker-container {
    padding-left: 10px !important;

    input {
      height: 34px !important;
      @extend .font-normal;
      @extend .font-medium;
    }
  }

  .task-form-inputs-top-row {
    margin-bottom: 15px;
  }

  .task-text-area {
    @extend .multi-line-font-normal;
    @extend .font-medium;
    padding: 0;
    resize: none;
    border: none;
    box-shadow: none;
    width: 100%;
  }
}
