.tasks-component {
  .task-row {
    box-shadow: 0 1px 0 0 $divider;
    display: flex;
    height: auto;
    @extend .p-xy-med;
    overflow: hidden;
    position: relative;

    &:last-child {
      box-shadow: none;
    }

    &.task-enter {
      opacity: 0.01;
      height: 0 !important;
      overflow: hidden;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }

    &.task-enter-active {
      transition: all 500ms;
      opacity: 1;
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      height: 40px !important;
    }

    &.task-leave {
      opacity: 1;
      @extend .font-light;

      .task-description {
        text-decoration: line-through;
      }
    }

    &.task-leave-active {
      transition: all 500ms;
      opacity: 0;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
      overflow: hidden;
      height: 0 !important;
    }

    .task-checkbox {
      transition: opacity 200ms;
      margin-right: 10px;

      &:disabled {
        opacity: 0.2;
      }
    }

    .task-deal-button {
      margin-right: 10px;
      border: 1px solid $light-element;

      &:hover {
        background-color: $light-element;
      }
    }

    .task-description {
      transition: opacity 200ms;
      flex: 1;
      margin-top: -1px;
      margin-right: 10px;
      @extend .multi-line-font-normal;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      color: $medium-text;

      &.completed {
        @extend .font-light;
        text-decoration: line-through;
      }

      &.disabled {
        opacity: 0.2;
        @extend .no-select;
      }

      &.overflowing {
        cursor: pointer;
      }

      .task-prefix {
        color: $dark-text;
      }
    }

    .task-info-section {
      transition: opacity 200ms;

      &.disabled {
        opacity: 0.2;
      }
    }

    &.expanding {
      height: auto !important;
    }

    &.expanded {
      .task-description {
        overflow: visible;
        white-space: normal;
        text-align: justify;
      }
    }

    .task-due-date {
      margin-right: 10px;
      @extend .font-small;
      @extend .font-light;
      float: left;
      padding: 4px 0 4px 4px;

      &.warn {
        @extend .warn;
      }
    }

    i {
      @extend .font-small;
      @extend .font-light;
      display: block;
      float: right;
      padding: 4px;
      height: 20px;

      &.more-button {
        @extend .clickable;
      }

      &.more-button:hover {
        color: $brixio-primary;
        background-color: $divider;
        border-radius: 2px;
      }
    }

    .task-controls {
      transition: all 200ms ease-out;
      width: 0;
      overflow: hidden;
      margin-left: 0;
      white-space: nowrap;
      position: absolute;
      right: 33px;
      background-color: #fff;
      padding-left: 0;

      &.open {
        width: 140px;
        padding-left: 3px;
      }
    }
  }

  .empty-state {
    padding: 20px;
    text-align: center;
  }
}
