.top-message-component {
  background-color: $brixio-warning;

  .message {
    padding: 10px 20px;
    color: #fff;
  }

  .material-icons {
    font-size: 15px;
    color: #fff;
  }

  a:hover {
    color: $dark-text;
  }
}
