.deal-detail-page {
  .collaborator-name {
    font-size: $large-text;
    line-height: 28px;
    margin-left: 13px;
  }

  .claim-deal-header {
    margin-bottom: 15px !important;
    background-color: $brixio-primary !important;
    color: white;
    line-height: 25px !important;

    i {
      color: white !important;
      line-height: 25px;
    }
  }

  .deal-details {
    margin-top: 13px;
    margin-bottom: 100px;
  }

  .stages-wrapper {
    height: 74px;
    margin-bottom: 15px;
  }
}
