.master-deals-page {
  .deal-section-header {
    color: $light-text;
    margin: 20px 0 0;
    border-bottom: 1px solid $divider;
    padding-bottom: 10px;
  }

  .unassigned-count {
    font-size: 0.75em;
    color: $medium-text;
  }

  .no-deals-message {
    color: $light-text;
    margin: 20px 0;
    text-align: center;
  }
}
