.avatar {
  width: 35px;
  height: 35px;
  background-color: rgba(0,0,0,0.1);
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  background: red;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#CDCDCD, #AFAFAF);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#CDCDCD, #AFAFAF);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#CDCDCD, #AFAFAF);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#CDCDCD, #AFAFAF);
  /* Standard syntax */
}

.avatar.medium {
  width: 29px;
  height: 29px;
  font-size: 14px;
}

.avatar.medium > .initials {
  height: 29px;
  width: 29px;
}

.avatar.large {
  width: 40px;
  height: 40px;

  .initials {
    height: 40px;
    width: 40px;
    font-size: 18px;
  }
}

.avatar.small {
  width: 25px;
  height: 25px;

  .initials {
    height: 25px;
    width: 25px;
    font-size: 12px;
  }
}

.avatar .initials {
  vertical-align: middle;
  display: table-cell;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  left: 0;
  text-align: center;
  width: 35px;
  height: 35px;
  color: white;
  text-indent: 0;
}

.avatar.has-avatar .initials {
  display: none;
}
