.field.half {
  width: 48%;
  margin-bottom: 0;
}

.field.half.left {
  float: left;
}

.field.half.right {
  float: right;
}

input[type=email],
input[type=number],
input[type=password],
input[type=text],
select,
textarea {
  font-family: $primary-font;
}

.input-wrapper {
  position: relative;

  &.select,
  input[type=email],
  input[type=number],
  input[type=password],
  input[type=text],
  textarea {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: $field-box-shadow;
    color: $dark-text;
    border: none;
    font-size: $normal-text;
    padding: 7px;
    font-family: $primary-font;
    width: 100%;
    resize: none;

    &:focus {
      outline: none;
      box-shadow: $field-focused-box-shadow;
      // &.error {
      //   box-shadow: $field-focused-error-box-shadow;
      // }
    }

    &.error {
      box-shadow: $field-error-box-shadow;
    }
  }

  input[type=email],
  input[type=number],
  input[type=password],
  input[type=text],
  textarea {
    padding: 18px 8px 5px;
  }

  label {
    position: absolute;
    color: $medium-text;
    font-size: $normal-text;
    left: 8px;
    top: 13px;
    transition: all 0.1s;
  }

  &.float-label {
    label {
      font-size: $small-text;
      left: 7px;
      top: 5px;
    }
  }

  &.select {
    padding: 0;
    box-shadow: none !important;

    .arrow-down {
      position: absolute;
      right: 13px;
      border-width: 5px 5px 2.5px;
      border-top-color: #999;
      top: calc(50% - 3px);
      z-index: 0;
      pointer-events: none;
    }

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      border: none;
      box-shadow: $field-box-shadow;
      background-color: #fff;
      height: 42px;
      padding: 13px 7px 0;
      color: $dark-text;
      font-size: $normal-text;
      cursor: pointer;

      &:focus {
        outline: none;
        box-shadow: $field-focused-box-shadow;
        // &.error {
        //   box-shadow: $field-focused-error-box-shadow;
        // }
      }

      &.error {
        box-shadow: $field-error-box-shadow;
      }
    }
  }

  &.textarea {
    label {
      top: 0;
      left: 0;
      padding: 5px 0 3px 7px;
      width: 100%;
      background-color: #fff;
      border-radius: 4px 4px 0 0;
    }
  }
}

.form-error {
  font-size: $small-text;
  color: $brixio-warning;
  position: absolute;
  top: 5px;
  text-align: right;
  right: 8px;
}
/* TODO : prob replace most of these styles below */
form tr th {
  text-align: right;
  padding-right: 10px !important;
}

form.button_to {
  display: inline-block;

  input {
    border: solid 1px;
    border-radius: 2px;
    font-size: 12px;
    height: 26px;
    letter-spacing: 1px;
    border-color: $brixio-warning;
    color: $brixio-warning;
    background-color: transparent;
    padding: 0 10px;
    cursor: pointer;
  }

  input:hover {
    color: white;
    background-color: $brixio-warning;
  }
}

input:not([type=checkbox]),
input:not([type=checkbox]):focus,
textarea,
textarea:focus {
  outline: none;
}

input[type=radio] {
  width: auto;
  height: auto;
}

.on-dark input {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
  border-bottom: 1px solid $medium-text-on-dark !important;
  color: $brixio-primary !important;
  border-radius: 0 !important;
  font-size: $large-text;
  width: 100%;
}

.on-dark textarea {
  background-color: transparent !important;
  border: 1px solid $medium-text-on-dark !important;
  color: $brixio-primary !important;
  border-radius: 0 !important;
  width: 100%;
}

.on-dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #2C2F2E inset !important;
  -webkit-text-fill-color: $brixio-primary !important;
  border-color: #BDBCBC !important;
}

.field {
  margin: 30px 0;
  position: relative;
}

.field label {
  margin-bottom: 10px;
  display: inline-block;
}
/*** Custom Checkbox ***/
input[type=checkbox] {
  -webkit-appearance: none;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  background-color: #fff;
  height: 18px;
  width: 18px;
  outline: none;
  position: relative;
  margin: 0;
}

input[type=checkbox]:checked:before {
  font-family: "Material Icons";
  content: '\E876';
  position: absolute;
  font-size: 14px;
  left: 0;
  top: 1px;
  text-align: center;
  width: 18px;
  color: $brixio-primary;
}
/*** End Custom Checkbox ***/
/*** Custom Select Dropdown ***/
.custom-select select {
  padding: 10px 42px 10px 10px;
  background: transparent;
  color: $medium-text;
  font-family: $primary-font;
  font-size: 13px;
  border: 1px solid $medium-text;
  border-radius: 0;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  outline: none;
}

.custom-select.slim select {
  font-size: 11px;
  padding: 6px 4px 4px;
}

.custom-select.slim:after {
  top: -3px;
  height: 24px;
  padding-top: 4px;
}

.custom-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #444;
}

.custom-select select::-ms-expand {
  display: none;
}

.custom-select {
  position: relative;
  display: inline;
}

.custom-select:after {
  content: 'keyboard_arrow_down';
  font: 18px 'Material Icons';
  color: $medium-text;
  right: 2px;
  top: -10px;
  border-left: 1px solid $medium-text;
  position: absolute;
  pointer-events: none;
  width: 34px;
  text-indent: 6px;
  height: 38px;
  padding-top: 12px;
}

.on-dark .custom-select:after {
  border-color: $medium-text-on-dark;
  color: $medium-text-on-dark;
}

.on-dark .custom-select select {
  border-color: $medium-text-on-dark;
  color: $medium-text-on-dark;
}
@media screen\0 {
  .custom-select:after {
    width: 38px;
    text-indent: 15px;
    right: 0;
  }
}
@media screen and (min--moz-device-pixel-ratio:0) {
  .custom-select select {
    padding-right: 40px;
  }

  .custom-select:before {
    right: 6px;
  }

  .custom-select:after {
    text-indent: 14px;
    right: 6px;
    top: -5px;
    width: 36px;
  }
}
/*** End Custom Select Dropdown ***/
label.error {
  color: $brixio-warning;
}

.field label.error {
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
  width: 100%;
}
