.table-dot {
  height: 5px;
  width: 5px;
  background: $brixio-black;
  border-radius: 50%;
  display: inline-block;
  margin-right: 7px;
  margin-bottom: 2px;
}

.table-dot.green {
  background-color: $brixio-primary;
}

.table-dot.yellow {
  background-color: #F5DB44;
}

.table-dot.red {
  background-color: $brixio-warning;
}

.table-dot.orange {
  background-color: $orange;
}

.table-dot.unassigned {
  background-color: #F5DB44;
}

.table-dot.assigned {
  background-color: #F5A623;
}

.table-dot.working {
  background-color: #98DD73;
}

.table-dot.nurturing {
  background-color: $orange;
}

.table-dot.lost {
  background-color: $brixio-warning;
}

.table-dot.dead,
.table-dot.neglected {
  background-color: #B92C30;
}

.sort th .text {
  cursor: pointer;
}

.sort th .arrow-down,
.sort th .arrow-up {
  display: none;
}

.sort th .arrow-up {
  border-bottom-color: $brixio-primary;
}

.sort th .arrow-down {
  border-top-color: $brixio-primary;
}

td {
  font-size: 14px;
  color: $medium-text;
}

td a {
  color: $dark-text;
}

td a,
td button,
td i {
  vertical-align: middle;
}
